<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2021</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
<script src="/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
<script src="/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/startbootstrap-sb-admin-2/js/demo/chart-area-demo.js"></script>
<script src="/startbootstrap-sb-admin-2/js/demo/chart-pie-demo.js"></script>