<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing natural person</h1>

  <%= render "form", natural_person: @natural_person %>

  <%= link_to "Show this natural person", @natural_person, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to natural people", natural_people_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
