<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing patient</h1>

  <%= render "form", patient: @patient %>

  <%= link_to "Show this patient", @patient, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to patients", patients_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
